* {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', serif;
    box-sizing: border-box;
}

body {
    background: #EDE7D0;
    color: black;
}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#about {
    padding: 20px 0;
    color: #004c01;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 45%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 50%;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    color: #004c01;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin-bottom: 20px;
}

.tab-links {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.tab-links.active-link {
    color: #ff0000;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff7700;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
}
